@import "tailwindcss";

@theme {
  --color-blue-primary: #1B3C53;
  --color-blue-secondary: #234C6A;
  --color-blue-muted: #456882;

  --color-neutral-primary: #E3E3E3;
  
  --color-blue-neutral: #2C74B3;
  --color-blue-light: #A5D7E8;

  --color-neutral-light: #E3E3E3;
  --color-neutral-dark: #1F2933;
  --color-neutral-bg: #F5F7FA;

  --color-accent-teal: #3BAEA0;

  --color-success: #4CAF8D;
  --color-warning: #E6A23C;
  --color-danger: #D9534F;
}